In [4]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [5]:
df=pd.read_csv('life_expectancy_years.csv')
df[df['country']=='Egypt']

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
51,Egypt,33.0,33.0,33.0,33.0,33.0,33.0,33.0,33.0,33.0,...,81.2,81.3,81.4,81.6,81.7,81.8,82.0,82.1,82.2,82.3

In [30]:
data = df[df['country']=='Egypt']
data.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
51,Egypt,33.0,33.0,33.0,33.0,33.0,33.0,33.0,33.0,33.0,...,81.2,81.3,81.4,81.6,81.7,81.8,82.0,82.1,82.2,82.3

In [35]:
data.plot(kind='line',x='data[columns]',y='data[rows],ax=ax)plot()

SyntaxError: EOL while scanning string literal (<ipython-input-35-ee5e7a855154>, line 1)